.Button {
    position: relative;
    display: inline-block;
    /*height: 40px;*/
    /*line-height: 40px;*/
    /*margin-right: 10px;*/
    cursor: pointer;
    /*top: -15px;*/
}

.Button:hover {
    color: rgba(252, 252, 252, 0.5);
}

.left {
    left: 100%;
    margin-left: -100px;
}
